.textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    resize: vertical;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid var(--text-primary-color);
    line-height: 48px;
}

.invalid {
    border-color: var(--error-main-color);
}
