.tabItem {
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid var(--primary-main-color);
  background: transparent;
  color: var(--primary-main-color);
  text-transform: uppercase;
  font-weight: 700;
}

.active {
  border: 1px solid var(--primary-main-color);
  background-color: var(--primary-main-color);
  color: var(--button-text-color);
}
