html[data-theme='light'] {
  --base-bg: #fff;
  --paper-bg: #e7ebf0;
  --primary-main-color: #1976d2;
  --secondary-main-color: #9c27b0;
  --error-main-color: #d32f2f;
  --warning-main-color: #ed6c02;
  --info-main-color: #0288d1;
  --success-main-color: #2e7d32;
  --text-primary-color: rgba(0, 0, 0, 0.87);
  --text-secondary-color: rgba(0, 0, 0, 0.6);
  --text-disabled-color: rgba(0, 0, 0, 0.38);
  --button-text-color: rgba(255, 255, 255, 0.8);
}

html[data-theme='dark'] {
  --base-bg: #0a1929;
  --paper-bg: #1a2027;
  --primary-main-color: rgb(144, 202, 249);
  --secondary-main-color: rgb(206, 147, 216);
  --error-main-color: rgb(244, 67, 54);
  --warning-main-color: rgb(255, 167, 38);
  --info-main-color: rgb(41, 182, 246);
  --success-main-color: rgb(102, 187, 106);
  --text-primary-color: rgb(255, 255, 255);
  --text-secondary-color: rgba(255, 255, 255, 0.7);
  --text-disabled-color: rgba(255, 255, 255, 0.5);
  --button-text-color: rgba(10, 25, 41, 0.9);
}
