.form {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.form > svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 6px;
  width: 24px;
  height: auto;
  opacity: 0.5;
}
.form > svg * {
  fill: var(--text-primary-color);
}

.input {
  flex: 1 1 auto;
  padding-right: 34px;
}

.button {
  flex: 0 0 auto;
  margin-left: 2px;
}
